.game-title {
    -unity-font-definition: url("project://database/Assets/Art/Font/fusion-pixel-12px-proportional-zh_hans.ttf?fileID=12800000&guid=752236bd266a449b584b9b281e06b877&type=3#fusion-pixel-12px-proportional-zh_hans");
    font-size: 154px;
    -unity-text-align: upper-center;
    -unity-font-style: normal;
    color: rgb(26, 26, 26);
}
